Pizza_kliens/Service References/PizzaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pizza" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPizzaService_OrderPizza_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderPizza" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_OrderPizza_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderPizzaResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_getToppings_InputMessage">
    <wsdl:part name="parameters" element="tns:getToppings" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_getToppings_OutputMessage">
    <wsdl:part name="parameters" element="tns:getToppingsResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_getPizzas_InputMessage">
    <wsdl:part name="parameters" element="tns:getPizzas" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_getPizzas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPizzasResponse" />
  </wsdl:message>
  <wsdl:portType name="IPizzaService">
    <wsdl:operation name="OrderPizza">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/OrderPizza" message="tns:IPizzaService_OrderPizza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/OrderPizzaResponse" message="tns:IPizzaService_OrderPizza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getToppings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/getToppings" message="tns:IPizzaService_getToppings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/getToppingsResponse" message="tns:IPizzaService_getToppings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPizzas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/getPizzas" message="tns:IPizzaService_getPizzas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/getPizzasResponse" message="tns:IPizzaService_getPizzas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPizzaService" type="tns:IPizzaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrderPizza">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/OrderPizza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToppings">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/getToppings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPizzas">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/getPizzas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaService">
    <wsdl:port name="BasicHttpBinding_IPizzaService" binding="tns:BasicHttpBinding_IPizzaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Pizza/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>