Pizza_kliens/Service References/PizzaService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Pizza" />
  <xs:element name="OrderPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pizzaid" type="xs:int" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transferprice" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderPizzaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pizza" minOccurs="0" name="getToppingsResult" nillable="true" type="q1:ArrayOfTopping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPizzas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPizzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pizza" minOccurs="0" name="getPizzasResult" nillable="true" type="q2:ArrayOfPizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>